<footer layout="row">
    <div class="div-footer" style="color: #1C3D69">
        <div class="div-grid"> 
            <div class="div-logo div-pb" >
                <img class="img-logo" src="../../../assets/IMG_8855.PNG">
            </div>  
            <span class="div-pb" style="width: 90%;">
                <b>Ser terapeuta é acolher com presença e escuta, oferecendo um espaço seguro para que o outro possa se reconhecer e se transformar. Não damos respostas prontas, mas caminhamos ao lado, ajudando a dar sentido ao que dói e ao que pulsa. É um trabalho que exige ética, sensibilidade e autoconhecimento. Ser terapeuta é acreditar no poder do vínculo, do afeto e na possibilidade constante de recomeçar.
                </b>
            </span>
            <div class="div-pb">
                <mat-icon class="icon-calculo">call</mat-icon>
                <span style="position: absolute">(71) 99288-6118</span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo">mail</mat-icon>
                <span style="position: absolute">ericamsantos@yahoo.com.br</span>
            </div> 
            <div class="div-pb">
                <mat-icon class="icon-calculo">location_on</mat-icon>
                <span style="position: absolute">	
                    RUA DA BANDEIRA, 44 - CENTRO - CAMAÇARI - BA
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem;font-size: 22px;">Especialidades</span>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TERAPIA ENERGÉTICA
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    HIPNOTERAPIA
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    REGRESSÃO
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    ANSIEDADE
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    DEPRESSÃO
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRANSIÇÃO DE CARREIRA
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    ESPIRITUALIDADE
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem; font-size: 22px;">Contato</span>
            <div class="form-container">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <input style="padding-bottom: 0.5rem;" type="text" id="name" formControlName="name"
                        placeholder="Seu nome">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                        <small class="error">O campo é obrigatório.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="email" id="email" formControlName="email"
                        placeholder="Seu e-mail">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['email']">Email inválido.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="tel" id="number" formControlName="number"
                        placeholder="Seu WhatsApp">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('number')?.invalid && contactForm.get('number')?.touched">
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['pattern']">Formato de número
                            inválido.</small>
                    </div>

                    <textarea style="padding-bottom: 0.5rem;" id="message" formControlName="message" rows="8"
                        placeholder="Mensagem"></textarea>
                    <div style="display: flex;margin-top: -11px;margin-bottom: 1rem;" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                        <small class="error">Mensagem é obrigatória.</small>
                    </div>

                    <button type="submit">Enviar Mensagem</button>
                </form>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 1rem; padding-top: 2rem;color: #1C3D69" >
        <span class="spam-flex-justify" >
            © 2024. Todos os Direitos Reservados.
        </span>
    </div>
  </footer>