.div-logo{
    width: 57%;
}

.img-logo{
    height: 10rem;
    width: 10rem;
    
}

.div-footer{    
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    padding-left: 1rem;
    @media (max-width: 990px){
       display: flex;
       flex-direction: column;
     }
}

.div-grid{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    @media (max-width: 990px){
        padding-left: 0rem;
        padding-bottom: 2rem;
      }
}

.spam-flex-justify{
    display: flex;
    justify-content: center;
}

.div-pb{
    padding-bottom: 1rem;
}

.icon-calculo{
    font-size: 24px;
    width: 40px;
    height: 30px;
}

.icon-calculo-2{
    font-size: 30px;
    width: 40px;
    height: 30px;
}


.form-container {  
    // padding: 2rem;    
    width: 17rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ffffff;
    @media (max-width: 337px){
        width: 85%;
      }

}

button {
    width: 100%;
    padding: 10px;
    background-color: #1C3D69;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 9px;
    @media (max-width: 337px){
        width: 85%;
      }
}