<mat-toolbar class="mat-toolbar-mobile">
    <!-- NavBar mobile -->
    <mat-accordion class="display-mobile-accordion ">
        <mat-expansion-panel
         hideToggle
         style="background: white; color: #CEA44B;"
         (opened)="panelOpenState = true"
         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="div-logo display-mobile-menu">
                    <img class="img-logo" src="../../../assets/logo-png-ws.png" (click)="home()">
                </div>
                <button mat-icon-button >
                    <mat-icon style="color: #CEA44B;">{{panelOpenState? "close" : "menu"}}</mat-icon>
                </button>
            </mat-panel-title>
            <mat-panel-description style="display: contents;">
               
            </mat-panel-description>
          </mat-expansion-panel-header >
            <div style="display: grid;">
                <button mat-button (click)="home()">
                    <span class="span-toolbar" style="color: #CEA44B;">HOME</span>
                </button>  
                <button mat-button (click)="about()">
                    <span class="span-toolbar" style="color: #CEA44B;">SOBRE</span>
                </button> 
                <button mat-button (click)="service()">
                    <span class="span-toolbar" style="color: #CEA44B;">SERVIÇOS</span>
                </button> 
                <!-- <button mat-button (click)="blog()">
                    <span class="span-toolbar" style="color: #CEA44B;">BLOG</span>
                </button>  -->
                <button mat-button (click)="contact()">
                    <span class="span-toolbar" style="color: #CEA44B;">CONTATO</span>
                </button>    
            </div>
        </mat-expansion-panel>
      </mat-accordion> 
</mat-toolbar>

<mat-toolbar id="nav" class="mat-toolbar-desktop">    
    <div class="div-logo display-mobile-menu">
        <img *ngIf="showWhiteLogo" class="img-logo" src="../../../assets/IMG_8855.PNG" (click)="home()">
        <img *ngIf="showDefaultLogo" class="img-logo" src="../../../assets/IMG_8855.PNG" (click)="home()">
      </div>
    <span class="toolbar-spacer display-mobile-menu"></span>
    <div class="display-mobile-menu">
        <button mat-button (click)="home()">
            <span class="span-toolbar">HOME</span>
        </button>  
        <button mat-button (click)="about()">
            <span class="span-toolbar">SOBRE</span>
        </button> 
        <button mat-button (click)="service()">
            <span class="span-toolbar">SERVIÇOS</span>
        </button> 
        <!-- <button mat-button (click)="blog()">
            <span class="span-toolbar">BLOG</span>
        </button>  -->
        <button mat-button (click)="contact()">
            <span class="span-toolbar">CONTATO</span>
        </button>    
     
    </div>
</mat-toolbar>

