<div class="fixed w-full top-0 z-5 nav-transition" 
     [ngClass]="{
        'nav-scrolled-state': isScrolled, 
        'nav-transparent-state': !isScrolled,
        'nav-hidden': isHidden
     }">

    <div class="flex align-items-center justify-content-between px-4 md:px-6">

        <div class="cursor-pointer z-5" (click)="navigate('/')">
            <img src="https://pub-72dc93fc334e4d3f84eb4bfabf9eff67.r2.dev/IMG_4251.PNG" alt="Logo Reiki do Comando"
                class="transition-duration-300 w-auto" [ngClass]="isScrolled ? 'h-4rem' : 'h-6rem md:h-8rem'">
        </div>

        <div class="hidden md:block">
            <p-menubar [model]="menuItems" styleClass="mystic-menubar"></p-menubar>
        </div>

        <div class="md:hidden block z-5">
            <button pButton pRipple icon="pi pi-bars" class="p-button-rounded p-button-text p-button-lg text-gold" 
                style="color: #d39e36;" (click)="sidebarVisible = true"></button>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" [baseZIndex]="10000" styleClass="custom-sidebar">
    <div class="flex flex-column align-items-center mt-2">
        <img src="https://pub-72dc93fc334e4d3f84eb4bfabf9eff67.r2.dev/IMG_4251.PNG" class="h-8rem mb-4 mt-0" alt="Logo Karla">
        
        <div class="w-full">
            <p-panelMenu [model]="menuItems" styleClass="mystic-panelmenu"></p-panelMenu>
        </div>
    </div>
</p-sidebar>