<div class="div-body">
    <div class="display-mobile">
        <div style="width: 100%;">
            <span>
                <img class="image-container" src="../../../assets/outer-space-background.jpg">
            </span>
        </div>
    </div>
    <div class="text-name">
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">SOBRE</span>
            <hr class="style-hr">
        </div>
    </div>

    <div class="div-sobre div-curva">
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px;">SOBRE ERICA MARTINS</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>
            <div class="p-text-info">
                <p class="no-margin"><b>Formação</b></p>
                <ul style="padding-left: 14px;">
                    <li>Profissional Nível 2 em <em>Ressonância Psicoterapêutica®️</em> pelo Instituto Idalino</li>
                    <li>Formação em Terapia Holística pela <em>ABRAPH</em></li>
                    <li>Pós Graduada em Terapia Transpessoal pela Faculdade <em>Unyleya</em></li>
                    <li>Graduada em Hipnose Clínica pelo <em>Instituo SEPHIA</em></li>
                    <li>Graduada em Hipnose Carreiriana pela  <em>Academia Antônio Carreiro</em></li>
                    <li>Graduada no Instituto de Cultura para Desenvolvimento e Educação Permanente <em>ICDEP</em></li>
                    <li>Formação em <em>REIKI USHUI – Mestre Pablo</em></li>
                    <li>Formação em Constelação Familiar pela  <em>Escola Portal da Prosperidade</em></li>
                </ul>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Apresentação pessoal</b></p>
                <p>
                  Sou Erica Martins, Terapeuta Transpessoal com ampla experiência clínica, dedicada a promover o equilíbrio entre mente,
                   corpo e espírito. Minha atuação integra abordagens energéticas e holísticas que possibilitam uma 
                   jornada profunda de autoconhecimento, cura e transformação pessoal.<br><br>

                    Utilizo ferramentas como <b>Reiki, Hipnoterapia, Ressonância Psicoterapêutica®️ e Constelação Familiar</b>, 
                    sempre respeitando a individualidade de cada pessoa e suas necessidades específicas. Meu foco é
                     proporcionar saúde mental, bem-estar emocional e uma conexão mais autêntica com o seu eu interior.  <br><br>
                     
                     Com sensibilidade e técnica, acompanho pessoas em processos de superação, crescimento pessoal e liberação de bloqueios emocionais, utilizando práticas inovadoras
                      e eficazes para lidar com questões como ansiedade, traumas, conflitos familiares, autoestima e muito mais.<br><br>

                      Minha missão é ser um canal de cura e despertar, oferecendo um espaço seguro e acolhedor para quem busca viver com mais consciência, leveza e plenitude.
                </p>
            </div>  
            
              <div class="p-text-info">
                <p class="no-margin pb"><b>Terapia Transpessoal</b></p>
                <p>
                  A terapia transpessoal é uma abordagem psicoterapêutica que integra corpo, mente, emoções e espiritualidade, visando o desenvolvimento
                   integral do ser humano. Diferente dos modelos tradicionais da psicologia,
                   ela considera os estados ampliados de consciência e experiências espirituais como caminhos legítimos de cura e transformação.<br><br>  
                   
                   Entre suas abordagens estão técnicas como meditação, aterramento, respiração consciente, visualizações guiadas, constelações 
                   familiares, trabalho com arquétipos e terapias corporais. Todas visam acessar 
                   conteúdos inconscientes, liberar bloqueios emocionais e promover reconexão com a essência do indivíduo.<br><br>

                   Essa abordagem é especialmente valiosa no processo de autoconhecimento, pois ajuda a identificar padrões emocionais, 
                   compreender feridas profundas e despertar valores como propósito, compaixão e presença. Ao promover uma visão ampliada do ser, a
                    terapia transpessoal favorece uma transformação pessoal mais profunda e duradoura.
                </p>
            </div>  
            
           
              <div class="p-text-info">
                <p class="no-margin pb"><b>Sua jornada do autoconhecimento e expansão da consciência</b></p>
                <p>
                 A jornada de autoconhecimento é, antes de tudo, um retorno para dentro. Em meio ao ruído do mundo externo,
                  somos convidados a silenciar e escutar aquilo que, muitas vezes, ignoramos: nós mesmos. É nesse mergulho interior
                  que começamos a reconhecer padrões, feridas, crenças limitantes e também potenciais adormecidos.<br><br>  

                Expandir a consciência é compreender que somos mais do que pensamos ser. É perceber que não estamos 
                separados do mundo, mas em constante interação com ele. Cada experiência, por mais simples ou desafiadora que seja,
                 carrega a semente de um aprendizado. Quando aceitamos olhar para a vida com mais presença, despertamos para uma nova 
                 forma de existir — mais livre, mais autêntica, mais conectada.<br><br>

                Essa jornada não é linear. Haverá momentos de luz e de sombra, de clareza e de confusão. 
                Mas em cada passo, mesmo os mais incertos, há crescimento. O autoconhecimento nos dá ferramentas
                para lidar com nossas emoções, fazer escolhas mais conscientes e viver com mais propósito.<br><br>

                Expandir a consciência é, também, um ato de responsabilidade. É reconhecer nosso impacto no mundo,
                nas pessoas e em nós mesmos. É sair do piloto automático e assumir a autoria da própria vida.<br><br>

                No fim das contas, essa jornada não tem um destino final. Ela é contínua, infinita. Porque sempre 
                há mais a descobrir, mais a curar, mais a amar. E talvez, o maior presente desse caminho seja perceber 
                que tudo o que procurávamos fora, sempre esteve dentro de nós.

                </p>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Minha missão como Terapeuta</b></p>
                <p>
                   Minha missão como terapeuta é oferecer um espaço seguro, acolhedor e livre de julgamentos, onde cada pessoa possa se 
                   reconectar com sua essência, compreender sua história e construir, com autonomia e consciência, caminhos mais saudáveis para sua vida.<br><br>

                Acredito na escuta sensível, no respeito à singularidade de cada indivíduo e no poder transformador do autoconhecimento. Meu compromisso é 
                caminhar lado a lado com meus pacientes, auxiliando-os a lidar com suas dores, reconhecer seus recursos internos e desenvolver ferramentas
                 emocionais que promovam bem-estar, equilíbrio e autenticidade.<br><br>
                Atuo com ética, empatia e responsabilidade, buscando constantemente o aperfeiçoamento profissional para oferecer um atendimento que respeite
                 a dignidade humana e promova saúde mental de forma integral.
                </p>
            </div>
            <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #1C3D69;justify-content: space-evenly; height: 4rem;">
                    <div class="div-flex-center marg-icon-wpp">
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;" (click)="whatsapp()">AGENDE
                            SUA CONSULTA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container2 div-foto">
            <img src="./../../assets/erica1.jpg">
        </div>
    </div>
    <div class="div-especialidade">
        <div class="text-container div-info" style="color: #1C3D69">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px;">MINHAS ESPECIALIDADES</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>
            <div class="p-text-info">
                <ul style="font-size: 30px; line-height: 40px; padding-left: 14px;">
                    <li>Terapia Energética</li>
                    <li>Hipnoterapia</li>
                    <li>Regressão</li>
                    <li>Ansiedade</li>
                    <li>Depressão</li>
                    <li>Conflitos Familiares</li>
                    <li>Transição de Carreira</li>
                    <li>Espiritualidade</li>                    
                </ul>
            </div>
        </div>
        <div class="image-container3 div-foto">
            <img style="transform: rotate(0deg); border:none;" src="./../../assets/meditacao.png">
        </div>
    </div>
    <div class="div-consultorio" style="background-color: white; color: #1C3D69;">
        <div>
            <div>
                <span class="spam-flex-justify name-consul">CONSULTÓRIO</span>
                <hr class="style-hr">
            </div>
            <div class="image-consul">
                <div class="image-container2 div-foto">
                    <img src="./../../assets/IMG_1238.png">
                </div>
                <div class="image-container2 div-foto">
                    <img src="./../../assets/IMG_1239.png">
                </div>
                <div class="image-container2 div-foto">
                    <img src="./../../assets/IMG_1240.png">
                </div>
            </div>
            <!-- <div>
                <div >
                    <app-carousel [slides]="slides"></app-carousel>
                </div>
            </div> -->
        </div>
    </div>

</div>