<div class="div-body">
    <div class="display-mobile">
        <div style="width: 100%;">
            <span>
                <img class="image-container" src="../../../assets/outer-space-background.jpg">
            </span>
        </div>
    </div>
    <div class="text-name">
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">SERVIÇOS</span>
            <hr class="style-hr">
        </div>
    </div>

    <div class="div-sobre">
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px; text-align: center;">EU TRABALHO COM</p>
                <hr class="style-hr" style="margin-top: 0;">
            </div>      
          
            <div class="p-text-info">
                <p class="no-margin pb">Tratamento para Ansiedade</p>
                <p class="no-margin pb">Tratamento para a Depressão</p>
                <p class="no-margin pb">Tratamento para Transtornos de Humor</p>
                <p class="no-margin pb">Relacionamentos</p>
                <p class="no-margin pb">Sexualidade</p>
                <p class="no-margin pb">Autoconhecimento</p>
                <p class="no-margin pb">Outros</p>
            </div>
          
          
            <!-- <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #1C3D69;justify-content: space-evenly; height: 4rem;">
                    <div class="div-flex-center marg-icon-wpp">
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;">AGENDE SUA CONSULTA</p>
                    </div>
                </div>               
            </div> -->
        </div>
        <!-- <div class="image-container2 div-foto">            
            <img src="./../../assets/foto4.jpeg">
        </div> -->
    </div>
    <div class="div-sobre" style="background-color: white;">
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px; text-align: left;">TERAPIA PRESENCIAL</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>      
          
            <div class="p-text-info">
                <p class="no-margin pb" style="text-align: justify;">
                    Como é a terapia presencial?
                </p>    
                <p class="no-margin pb" style="text-align: justify;">
                    O paciente deve se deslocar até o consultório da psicanalista em um horário previamente combinado.
                    As sessões costumam durar de 40 até 60 minutos. No meu consultório você vai encontrar o divã, que
                    é o dispositivo que uso para atender na abordagem psicanalítica.
                </p>   
                <p class="no-margin pb" style="text-align: justify;">
                    Você pode marcar uma primeira consulta comigo para entender se a terapia presencial
                    é adequada para você neste momento.
                </p>           
            </div>         
        </div>  
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px; text-align: left;">TERAPIA ON-LINE</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>      
          
            <div class="p-text-info">
                <p class="no-margin pb" style="text-align: justify;">
                    Recomendo esta modalidade de terapia para quem deseja estar no conforto de sua casa ou enquanto estão em viagem.
                    A terapia online pode ser uma boa opção caso você tenha uma agenda muito ocupada ou realize muitas viagens, 
                    se você tiver alguma restrição que o (a) impeça de ir até o local, se você luta contra depressão severa e
                     encontra dificuldades de sair de casa ou se estiver em um local onde os serviços terapêuticos não estejam disponíveis.
                </p>    
                <p class="no-margin pb" style="text-align: justify;">
                    Esta modalidade utiliza de tecnologias como chamada de vídeo ou telefone para ajudar as pessoas a melhorarem
                     seu bem-estar mental e emocional. Você pode marcar uma primeira consulta comigo para entender se a terapia 
                     online é adequada para você neste momento.
                </p>              
            </div>         
        </div> 
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px; text-align: left;">ATENDIAMENTO SOCIAL</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>      
          
            <div class="p-text-info">
                <p class="no-margin pb" style="text-align: justify;">
                    O atendimento social busca democratizar o serviço da psicanalise e permitir o acesso a pessoas que,
                    em decorrência de seu contexto social e/ou econômico, tenham dificuldade de ter acesso a serviços de 
                    saúde mental.
                </p>    
                <p class="no-margin pb" style="text-align: justify;">
                    A finalidade é proporcionar, com responsabilidade técnica e ética, promovendo o respeito,
                    a dignidade, a igualdade, a saúde e a busca pela qualidade de vida.
                </p> 
                <p class="no-margin pb" style="text-align: justify;">
                    * sujeito à disponibilidade de vagas e horários em agenda específica para esse fim. Os critérios de avaliação do perfil
                     social são estabelecidos pelo profissional.
                </p>                
            </div>         
        </div>     
    </div>
    <div class="div-sobre">
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px; text-align: center;">GOSTARIA DE AGENDAR UM ENCONTRO?</p>
                <hr class="style-hr" style="margin-top: 0;">
            </div> 
            <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #1C3D69;justify-content: space-evenly; height: 4rem;">
                   
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;" (click)="whatsapp()">SOLICITAR INFORMAÇÕES</p>
                    </div>
                </div>               
            </div>
        </div>        
    </div>
</div>