<div class="div-body">
    <div class="display-mobile">
        <!-- <div style="width: 100%;">
            <div class="image-container">
                <img class="image-container-2" src="../../../assets/foto12.jpeg">
                <div class="overlay"></div>
                <div class="overlay-text div-calculo-dose-2">
                    <span class="name-home">Erica Martins</span>
                    <hr class="style-hr">
                    <span style="font-size: 20px">Psicanalista e Hipnoterapeuta</span>
                </div>
            </div>
        </div> -->
        <div class="image-container-3" style="color: white;">
            <div class="overlay"></div>
            <div class="overlay-text div-calculo-dose-2">
                <span class="name-home-2">ERICA MARTINS</span>
                <hr class="style-hr" style="margin-left: 10rem;">
                <span style="font-size: 25px; margin-left: 17rem;">Terapeuta Transpessoal</span>
            </div>
        </div>
        <div style="width: 100%;" class="image-desktop">         
            <span>
                <img class="image-container-2" src="../../../assets/erica6.jpg">               
            </span>         
        </div>       
    </div>
    <div class="text-name">   
        <div class="div-calculo-dose-2 ">
            <span class="spam-flex-justify name-home">ERICA MARTINS</span>    
            <hr class="style-hr">     
            <span class="spam-flex-justify" style="font-size: 20px">Terapeuta Transpessoal</span>   
        </div> 
        <div class="div-calculo-dose-cards">
            <div class="div-calculo-dose">
                <div class="card card-border-1">
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">support_agent</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ATENDIMENTO ON-LINE</p>
                    </div>
                </div>
                <div class="card card-border-1"  >
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">group</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ATENDIMENTO PRESENCIAL</p>
                    </div>
                </div>
                <div class="card card-border-1"  >
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">pending_actions</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">HORÁRIO FLEXIVEL</p>
                    </div>
                </div>
                <div class="card card-border-1">
                    <div class="div-flex-center">
                        <mat-icon class="icon-calculo">handshake</mat-icon>
                    </div>
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards">ACESSÍVEL</p>
                    </div>
                </div>                
            </div>
        </div>
        <hr class="style-hr">  
    </div>

    <div class="div-sobre">
        <div class="image-container2 div-foto" >
            <!-- Aqui vai a imagem -->           
            <img src="./../../assets/erica4.jpg">
        </div>
        <div class="text-container div-info " style="color: #1C3D69;">   
            <div style="padding-bottom: 1rem;">
                <p class="no-margin">Olá! Meu nome é</p>
                <p class="name-home no-margin" style="font-size: 25px;">ERICA MARTINS</p>
                <p class="name-home no-margin" style="font-size: 25px;">Terapeuta Transpessoal</p>
            </div>
            <div class="p-text-info">
                <p >
                   Sou Erica Martins, Terapeuta Transpessoal com ampla experiência clínica, 
                   dedicada a promover o equilíbrio entre mente, corpo e espírito. Minha atuação integra abordagens
                    energéticas e holísticas que possibilitam uma jornada profunda de autoconhecimento, cura e transformação pessoal.
                </p>
            </div>      
            <div class="div-button" style="width: 100%;">
                <div class="card-button " style="display: flex; background-color:#1C3D69;justify-content: space-evenly; height: 4rem;" >
                    <div class="div-flex-center marg-icon-wpp">                        
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;" (click)="whatsapp()">AGENDAR VIA WHATSAPP</p>
                    </div>
                </div>
                <div class="card-button " style="background-color:#1C3D69; height: 4rem;" >                
                    <div class="div-flex-center">
                        <p class="div-calculo-dose-cards text-wpp" style="padding-top: 0.8rem; font-size:12px" (click)="about()">CONHEÇA MAIS</p>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
</div>




