<div class="div-body">
    <!-- <div class="display-mobile">
        <div style="width: 100%;">
            <span>
                <img class="image-container" src="../../../assets/Butterfly.jpg">
            </span>
        </div>
    </div> -->
    <div class="text-name" style="padding-top: 7rem;">
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">BLOG</span>
            <hr class="style-hr">
        </div>
    </div>

    <div class="div-sobre div-curva">
        <div class="text-container div-info" style="color: #744972;">
            <div style="padding-bottom: 1rem; display: flex;width: 23rem;">
                <div>
                    <p class="name-home no-margin" style="font-size: 25px; font-weight: 600">@waleskasilveirapsi</p>
                    <hr class="style-hr" style="margin-top: 0; margin-left: 0; color: #744972;">
                </div>
                <div class="div-flex-center marg-text-wpp" style="border: 1px solid #FAEBE8; margin-left: 0.5rem;height: 1.5rem;width: 4.05rem;display: flex;margin-top: 7px; background: #744972;border-radius: 4px;">
                    <a href="https://www.instagram.com/waleskasilveirapsi" target="_blank" class="div-calculo-dose-cards text-wpp" style="font-size: 12px;color: #FAEBE8; padding-left: 9px; cursor: pointer;text-decoration: none;">SEGUIR</a>
                </div>
            </div>
            <div class="instagram-grid">
                <div *ngFor="let post of instagramPosts" class="instagram-card" (click)="openInstagramPost(post.permalink)">
                
                  <div *ngIf="post.media_type === 'VIDEO'" class="card-content">
                    <video class="card-insta" controls>
                      <source [src]="post.media_url" type="video/mp4" controlsList="nodownload" controls="false" muted preload="auto">                     
                    </video>
                  </div>
                  <div *ngIf="post.media_type === 'IMAGE'" class="card-content">
                    <img [src]="post.media_url" alt="Instagram Image" class="card-insta">
                  </div>
                  <div *ngIf="post.media_type === 'CAROUSEL_ALBUM'" class="card-content">
                    <img [src]="post.media_url" alt="Instagram Carousel" class="card-insta">
                  </div>
                </div>
              </div>
        
            <!-- <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #744972;justify-content: space-evenly; height: 4rem;">
                    <div class="div-flex-center marg-icon-wpp">
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;">AGENDE SUA CONSULTA</p>
                    </div>
                </div>               
            </div> -->
        </div>
        <!-- <div class="image-container2 div-foto">            
            <img src="./../../assets/foto4.jpeg">
        </div> -->
        <!-- <div class="div-calculo-dose-cards" style="width: 100%;">
            <div class="div-calculo-dose">
              <div class="card" *ngFor="let post of paginatedPost" (click)="getPostBlogger(post.id)">
                <div class="image-container2">
                  <img [src]="extractImageUrl(post.content)">
                </div>
                <div class="div-flex-center">
                  <p class="div-calculo-dose-cards" class="title-p" style="font-size: 22px; padding-top: 1rem; line-height: 26px;">
                    {{ extractTitle(post.title) }}
                  </p>
                </div>
                <div class="div-flex-center">
                  <p class="div-calculo-dose-cards"><b>{{ post.author.displayName }}</b></p>
                  <p style="margin-left: 5px"> - {{ formatDate(post.published) }}</p>
                </div>
                <div class="div-flex-center">
                  <p class="div-calculo-dose-cards" [innerHTML]="extractSummary(post.content)"></p>
                </div>
              </div>
            </div>
            <div class="pagination">
              <button (click)="prevPageBlog()" [disabled]="currentPage === 1" class="pagination-button" style="margin-right: 1rem;">&lt;</button>
              <button (click)="nextPageBlog()" [disabled]="(currentPage * postsPerPage) >= bloggerPosts.length" class="pagination-button">&gt;</button>
            </div>
          </div> -->
          
    </div>
</div>